<connectionStrings>            
    <add name="WorkDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=M:\Settings\Desktop\New folder\LexLetsManagement\lexletsdatabase.mdf; Integrated Security = True" />
    <add name="HomeDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Mike\Desktop\New folder\LexLetsManagement\lexletsdatabase.mdf ;Integrated Security=True" />
    <add name="TestDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Mike\Desktop\New folder\LexLetsManagement\testdatabase.mdf ;Integrated Security=True" />
    <add name="AzureDB" connectionString="Server=tcp:lexletsdb.database.windows.net,1433;Initial Catalog=LexletsDatabase;Persist Security Info=False;User ID=mikehulme;Password=Lexieruss?37771984;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>
