<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>JvPndxt4xSDu5hNOgtO36WU5Vch3/3ZwjgqcMth/6mjHuRsO6zo/f3V6rkOFgyk13y1GERmDd+3XLKPKnbsCsyUS3xW5Rf7eTBCnR8w61tclr6/NFmnfhpGwoh2uj5e5mpAM1pNUzxB+w+EKZdtISiJv3/bigh+9ciZAj9KrWwRMx10gI++P+oifAdiv1WFyJP4gBrVa0hb0j1ATh5kPDJQ5k18yvIzbc6f7V2ieBAMddzf2nggL9oA/gSL1FiphQ2PkfIHLeIcWgTGEthj7CKbWeVcUO6dWS+6VDXu7jq6ijuSpY6AL90hWzqzKzMIxqD8x6SOjw2D2pE4exmqgjg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>gJZTF79b8GdTqSXh4ISQx7H4bzlH5IgfOfz6x0QUJcJNv11pznwUHyfaIcOe67aH</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>